{% extends 'base/base.html' %}
{% load static %}

{% block footer %}
{% endblock %}

{% block extjs %}
    <script src="{% static 'order/orderdetail.js' %}"></script>
{% endblock %}

{% block content %}
<div class="order">
    <p>
        {{ order.identifier }}
    </p>
    <p>
        {{ order.createtime }}
    </p>
    <p>
        {% for goods in order.ordergoods_set.all %}
            <p>
                {{ goods.goods.productlongname }}--{{ goods.number }}
            </p>
        {% endfor %}
    </p>
    <button class="btn btn-default" id="alipay" data-orderid="{{ order.id }}">pay</button>
</div>
{% endblock %}