{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    购物车
{% endblock %}

{% block extcss %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}

{% block extjs %}
    <script src="{% static 'cart/js/cart.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="cart">
        <ul>
            {% for cart in carts %}
                <li>
                    <div class="confirm-wrapper" cartid="{{ cart.id }}">
                        {% if cart.isselect %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="no"></span>
                        {% endif %}
                    </div>
                    <div class="content-wrapper">
                        <div class="img">
                            <img src="{{ cart.goods.productimg }}" alt="">
                        </div>
                        <div class="detail">
                            <div class="name">{{ cart.goods.productlongname }}</div>
                            <div class="price" data-price="{{ cart.goods.price }}">￥{{ cart.goods.price }}</div>
                            <div class="num" data-num="{{ cart.number }}">x{{ cart.number }}</div>
                        </div>
                    </div>
                </li>
            {% endfor %}

        </ul>
        <div class="bill">
            <div class="bill-left">
                <div class="all" data-all="{{ isall|lower }}">
                    {% if isall %}
                        <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                        <span class="no"></span>
                    {% endif %}

                    <b>全选</b>
                </div>

                <div class="total">
                    <span>￥</span>
                    <b>3163</b>
                </div>
            </div>
            <a class="bill-right" href="{% url 'axf:genenateorder' %}">下单</a>
        </div>
    </div>
{% endblock %}

